Package: big-sddm-config
Version: 1.0.1-1big4
Depends: sddm
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:24
Description: Configure sddm to BigLinux

